<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<footer class="footer container-fluid">
    <div class="container extraSpace">
        <ul class="centerLinks socialIcons">
            <li style="display:inline-block">
                <a href="https://github.com/vishnu0pothan"><img src="/images/icons/github.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.linkedin.com/in/vishnu-pothan/"><img src="/images/icons/linkedIn.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.upwork.com/freelancers/~018c8c5d1786f4a45c"><img src="/images/icons/upwork.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://www.instagram.com/vishnu_pothan/"><img src="/images/icons/instagram.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="https://twitter.com/vishnu_pothan"><img src="/images/icons/twitter.png"></img></a>
            </li>
            <li style="display:inline-block">
                <a href="/contact"><img src="/images/icons/email.png"></img></a>
            </li>
        </ul>
        <p class="footerText subP">Email me with any suggestions,
        bussiness, or just to talk!<br>vishnupothan2@gmail.com</p>
    </div>
    <div class="bottomLinksDiv">
        <div class="container">
            <div class="row">
                <div class="col-6 col-md">
                    <a href="/">Home</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md" >
                    <a href="/software">Project</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/electronics">Bussiness</a>
                </div><div class="col-md rm"><p>|</p></div>
                <div class="col-6 col-md">
                    <a href="/contact">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/scripts/footerShift.js" type="text/javascript"></script>
