<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" type="text/css" href="css/page.css"/>
        <%- include ('../partials/includes') %>
    </header>
    <body>
        <%- include ('../partials/nav') %>
        <div class="homeImg">
            <div class="homeDiv center">
                <h1 class="titleMain">VISHNU POTHAN</h1>
                <h3></h3>
            </div>
            <div class="homeSouth">
                <h4><a class="stealthLink subPmin padX0" href="#">Read More</a></h4>
                <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
            </div>
        </div>
    
        <div class="container-fluid aboutMe" >
            <div class="container aboutMe">
                <div class="row rowPad" >
                    <div class="col-md-4">
                        <img src="/images/profile-image.jpg" class="circleImg"></img>
                    </div>
                    <div class="col-md-8">
                        <p class="pad20">Welcome to my website. I am a developer , and a final year computer
                            science student at the APJ Abdul Kalam Technological University. In the
                            past few years I have worked on many independent
                            projects alongside my formal education. In this website I am showcasing you my projects and skills.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container-fluid softwareImg">
            <div class="container softwareDiv">
                <h1 class="leftTitle subTitle white" style="padding-top: 0px">SKILLS</h1>
                <div class="row">
                    <div class="col-md-6 tilePadWide softTileBack col1Pad">
                        <h3 class="white regTitle cenX">Mobile App Development</h3>
                        <h5 class="tileDesc subPmin white">1 year experience in mobile application development. Tools : Android studio, 
                            Java , Flutter and Dart.</h5>
                        <ul class="centerLinks">
                            <li style="display:inline-block;">
                                <a href="#"><p style="border-width:0px" id="PSDPlug">Quizer</p></a>
                            </li>
                            <li class="brText"><p>|</p></li>
                            <li style="display:inline-block;">
                                <a href="#"><p>View all projects</p></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 tilePadWide softTileBack col2Pad">
                        <h3 class="white regTitle cenX">Node.js</h3>
                        <h5 class="tileDesc subPmin white">Experience in Node.js and backend development.
                             Stack  : Node.js , Express and MongoDB.
                        </h5>
                        <ul class="centerLinks">
                            <li style="display:inline-block;">
                                <a href="#"><p style="border-width:0px" id="pathLink">Personal website</p></a>
                            </li>
                            <li class="brText"><p>|</p></li>
                            <li style="display:inline-block;">
                                <a href="#"><p>View all projects</p></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 tilePadWide softTileBack col1Pad">
                        <h3 class="white regTitle cenX">AI and Ml</h3>
                        <h5 class="tileDesc subPmin white">Final year project on Artificial Inteligence and Machine Learning.</h5>
                        <ul class="centerLinks">
                            <li style="display:inline-block;">
                                <a href="#"><p style="border-width:0px">Coming...</p></a>
                            </li>
                            <li class="brText"><p>|</p></li>
                            <li style="display:inline-block;">
                                <a href="#"><p>View all projects</p></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 tilePadWide softTileBack col2Pad">
                        <h3 class="white regTitle cenX">Programming</h3>
                        <h5 class="tileDesc subPmin white">Experience with C, PYTHON, Javascript and JAVA. 
                            Participted in many competitive programing.
                        </h5>
                    </div>
                    <a class="btn btn-outline-secondary btn-lg centerBtn" href="software" role="button">Learn More</a>
                </div>
            </div>
        </div>
    
        <div class="container-fluid electronicsBack">
            <div class="container extraSpace">
                <h2 class="centerTitle subTitle padX0 padtop0">PROJECTS</h2>
                <div class="row">
                    <div class="col-lg-4 tilePadWide">
                        <div>
                            <h3 class= "cenX subTitle padX0">QUIZER</h3>
                            <h5 class="tileDesc subPmin">A social media app for quizer. 
                                User can participate in quizing competition. Under development..</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadWide">
                        <div>
                            <h3 class="cenX subTitle padX0">SMART SITE</h3>
                            <h5 class="tileDesc subPmin">Project that I done in my internship at ProCivil.
                                 App that help for managing construction site.</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 tilePadWide">
                        <div>
                            <h3 class="cenX subTitle padX0">AI & Ml PROJECT</h3>
                            <h5 class="tileDesc subPmin">Coming soon...</h5>
                        </div>
                    </div>
                    <a class="btn btn-secondary btn-lg centerBtn" href="electronics" role="button">Learn More</a>
    
                </div>
            </div>
        </div>
    
        <%- include ('../partials/footer') %>
        <script src="includes/jquery.min.js"></script>
        <!-- Odometr includes -->
        <link rel="stylesheet" href="includes/odometer-theme-default.css"/>
        <script src="includes/odometer.js"></script>
        <script type="text/javascript" src="scripts/main.js"></script>
      </body>
    </html>
    